:root {
    --background-navbar: #6c5ce7;
    --background-footer: #6c5ce7;
    --color-footer: white;
    --color-title: #0984e3;
    --color-title-2: #0984e3;
    --color-title-3: #0984e3;
    --color-title-4: #0984e3;
    --color-title-5: #0984e3;
}

body {
    background-color: #a29bfe;
}

.navbar {
    background-color: var(--background-navbar) !important;
    text-align: right;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;

    color: var(--color-footer);
    font-weight: bold;
    min-height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-footer);
    color: rgb(0, 0, 0);
    padding: 6px 20px;
}

.title-1 {
    color: var(--color-title);
    font-size: 45px;
    margin-top: 10px;
    margin-left: 50px;

}

.title-1:hover {
    font-size: 20px;
}

.parrafo-1 {
    margin: 10px;
    font-size: 35px;
}

.img-logo {
    width: 80px;
    height: 80px;
}

.title-2 {
    color: var(--color-title-2);
    font-size: 45px;
    margin-top: 10px;
    margin-left: 50px;
}

.background-modal-header {
    background-color: var(--background-footer);
    color: var(--color-texto);
}

.btn-close {
    color: var(--background-btn-explorar);
    background-color: var(--background-btn-explorar);
}

.parrafo-2 {
    font-size: 35px;
    margin-top: 10px;
    margin-left: 50px;
}

.title-3 {
    color: var(--color-title-3);
    font-size: 45px;
    margin-top: 10px;
    margin-left: 50px;
}

.parrafo-3 {
    font-size: 20px;
    margin-top: 30px;
    margin-left: 30px;

}
.parrafo3 {
    font-size: 20px;
}

.title-4 {
    color: var(--color-title-4);
    font-size: 45px;
    margin-top: 10px;
    margin-left: 50px;
}

.parrafo-4 {
    font-size: 20px;
    margin-top: 10px;
    margin-left: 50px;
}

.title-5 {
    color: var(--color-title-5);
    font-size: 45px;
    margin-top: 10px;
    margin-left: 50px;
}

.parrafo-5 {
    font-size: 30px;
    margin-top: 10px;
    margin-left: 50px;
}


iframe {
    width: 100%;
    height: 100vh;
    border: none;
}
.escudo{
    width: 40px;
    height: 40px;
}

 .card img {
      height: 150px;
      object-fit: cover;
    }

        .card{
      transition: transform 0.3s, box-shadow 0.3s;
      border:none;
      border-radius:20px;
      overflow:hidden;
    }

    .card:hover{
      transform: translateY(-10px);
      box-shadow:0 10px 25px rgba(0,0,0,0.2);
    }

    .card img{
      height:200px;
      object-fit:cover;
    }

    .btn-custom{
      background:#6c63ff;
      color:white;
      border-radius:30px;
      padding:10px 20px;
    }

    .btn-custom:hover{
      background:#e5486f;
      color:white;
    }
.login-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100% ;
    height: 100vh;
    background: linear-gradient(135deg, #533a47, #7e6b81);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
}
.login-box {
    background-color: #61363f;
    padding: 40px;
    border-radius: 12px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}
.credito-card {
    border: none;
    border-radius: 12px;
    overflow: hidden;
    transition: all 0.4s ease;
}
.credito-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 25px rgba(0,0,0,0.15);
}
.credito-card .card-title{
    color: #8a4266;
    font-weight: bold;
}
.space_divider{
    height:100px;
}